.main-cards-container{
    display: grid;
    /* width: 100%;
    min-width: 320px;
    height: auto;
    margin: 20px 10px; */
    position: relative;
    background-color: var(--warm-black);
}

.product--detail-cards{
    display: flex;
    flex-direction: row;
}

.main-cards-container .card{
    background-color: var(--warm-black-plus);
   
    width: 100%;
    min-width: 320px;
    height: auto;
    border-radius: 4px;
    margin: 16px 16px;
    padding: 16px 16px;
    
}
/* este es el icon de batata*/
.main-cards-container .icon{
   background-image: url("../assets/icons/svg/burbuja.svg");
   width: 40px;
   height: 24px;
   position: absolute;
   top: -10px;
   justify-self: center;
  
}
.main-cards-container .title-cards{
    font-size:1.5rem;
    font-weight: 700;
    color: var(--just-white);
    line-height: 1.625rem;
    margin: 64px 0 24px 0;
    justify-self: center;
    align-self: center;
   
}

.main-cards-container .description-cards{
    font-size: 0.876rem;
    color: #808080;
    line-height: 1.125rem;
    margin: 24px auto 32px auto;
    font-weight: 500;

}

.main-cards-container .clock{
    background-image: url(../assets/icons/svg/clock.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    background-repeat: no-repeat;
    margin: 16px 250px 116px 18px;
    
}

.main-cards-container .eye{
    background-image: url(../assets/icons/svg/eye.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    background-repeat: no-repeat;
    margin: 16px 250px 116px 18px;
}

.main-cards-container .dollar{
    background-image: url(../assets/icons/svg/dollar.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    background-repeat: no-repeat;
    margin: 16px 250px 116px 18px;
}

.main-cards-container .check{
    background-image: url(../assets/icons/svg/check.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    background-repeat: no-repeat;
    margin: 16px 250px 116px 18px;
}

.main-cards-container h2{
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--just-white);
    line-height: 1.125rem;
    margin: 46px 169px 10px 16px;
}

.main-cards-container .text-description{
    color: #808080;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 500;
    margin: 10px 20px 22px 16px;
}

@media only screen and (max-width:450px) {
    .product--detail-cards{
        display: flex;
        flex-direction: column;
    }
    
  }
