.coins-container-two{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(4, 39px);
    justify-content: center;
    background-color:var(--off-white);
}

.coins-container-two .celda{
    padding:10px 12px ;
    border: 1px solid var(--off-white);
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color:#B5B0AC;
    line-height: 19px;
    background-color: var(--just-white);
    border-radius: 8px 0px 0px 0px;

}

.coins-container-two .celda .down{
    background-image: url('../assets/icons/svg/trending-down.svg');
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.coins-container-two .celda .up{
    background-image: url('../assets/icons/svg/trending-up.svg');
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.text-container-update-two{
    width: 190px;
    height: 30px;
    margin: 15px auto;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--soft-blue);
}

.text-container p{
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
   
}


.coins-text{
    color:#FF9536;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
}